.card-wrapper2 {
    margin: 0.5rem 0 1rem 0;
    height: 270px;
    position: relative;
    -webkit-perspective: 800px;
    perspective: 800px;
    /* Front side */
    /* Card with rotate on click */
    /* Rotate icons */
    /* Animation */
    /* Click effect */
}

.card-wrapper2 .face {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.card-wrapper2 .face h4 {
    margin-bottom: 15px;
}

.card-wrapper2 .face h5 {
    margin-top: 30px;
}

.card-wrapper2 .face .content {
    text-align: left;
    padding: 15px;
}

.card-wrapper2 .face .content p {
    margin-bottom: 30px;
}

.card-wrapper2 .face .content .rotate-btn {
    padding: 1rem;
    margin-right: -8px;
    float: right;
    font-size: 1.2rem;
    color: #000;
}

.card-wrapper2.card-up {
    overflow: hidden;
    height: 50%;
}

.card-wrapper2 .card-up img {
    min-width: 400px;
}

.card-wrapper2 .avatar {
    border-radius: 50%;
    display: block;
    height: 120px;
    margin: -65px auto 0;
    overflow: hidden;
    width: 120px;
}

.card-wrapper2 .avatar img {
    border: 5px solid #fff;
    background: none repeat scroll 0 0 #FFFFFF;
    width: 100%;
}

.card-wrapper2 .card-rotating {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.card-wrapper2 .card-rotating .content {
    position: relative;
}

.card-wrapper2 .card-rotating .content .rotate-btn {
    position: absolute;
    right: 8px;
    top: 0;
}

.card-wrapper2 .fa-repeat,
.card-wrapper2 .fa-undo {
    font-size: 20px;
    margin-top: 30px;
}

.card-wrapper2 .fa-undo {
    margin-top: 30px;
}

.card-wrapper2 .card-rotating {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card-wrapper2 .front,
.card-wrapper2 .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 1.0s;
    transition: -webkit-transform 1.0s;
    transition: transform 1.0s;
    transition: transform 1.0s, -webkit-transform 1.0s;
}

.card-wrapper2 .back {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    padding: 1rem;
}

.card-wrapper2 .back .card-title {
    cursor: pointer;
}

.card-wrapper2 .back .card-title i {
    color: #9e9e9e;
    position: absolute;
    right: 20px;
}

.card-wrapper2 .card-rotating.effect__click.flipped .front {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card-wrapper2 .card-rotating.effect__click.flipped .back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}
